<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>The animals are cute.</string>
		<key>imageFilename</key>
		<string>CBContentPage1</string>
		<key>audioFilename</key>
		<string>moan</string>
	</dict>
	<dict>
		<key>text</key>
		<string>The Second Page</string>
		<key>imageFilename</key>
		<string>CBContentPage2</string>
		<key>audioFilename</key>
		<string>Ping</string>
	</dict>
	<dict>
		<key>text</key>
		<string>The Third Page</string>
		<key>imageFilename</key>
		<string>CBContentPage3</string>
		<key>audioFilename</key>
		<string>Ping</string>
	</dict>
	<dict>
		<key>text</key>
		<string>The Fourth Page</string>
		<key>imageFilename</key>
		<string>CBContentPage4</string>
		<key>audioFilename</key>
		<string>Ping</string>
	</dict>
	<dict>
		<key>text</key>
		<string>The Fifth Page</string>
		<key>imageFilename</key>
		<string>CBContentPage5</string>
		<key>audioFilename</key>
		<string>Ping</string>
	</dict>
</array>
</plist>
