<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>text</key>
		<string>The animals are cute.</string>
		<key>imageFilename</key>
		<string>CBContentPage1</string>
		<key>audioFilename</key>
		<string>animals</string>
		<key>timeCodes</key>
		<array>
			<integer>0</integer>
			<real>0.36</real>
			<real>1.48</real>
			<real>1.98</real>
			<real>3.47</real>
		</array>
	</dict>
	<dict>
		<key>text</key>
		<string>The playground is huge and fun.</string>
		<key>imageFilename</key>
		<string>CBContentPage2</string>
		<key>audioFilename</key>
		<string>playground</string>
		<key>timeCodes</key>
		<array>
			<real>0</real>
			<real>0.3</real>
			<real>0.96</real>
			<real>1.33</real>
			<real>1.77</real>
			<real>2.2</real>
			<real>2.97</real>
		</array>
	</dict>
	<dict>
		<key>text</key>
		<string>Thomas is fun and you can ride him.</string>
		<key>imageFilename</key>
		<string>CBContentPage3</string>
		<key>audioFilename</key>
		<string>thomas</string>
		<key>timeCodes</key>
		<array>
			<real>0</real>
			<real>0.5600000000000001</real>
			<real>0.91</real>
			<real>1.36</real>
			<real>1.7</real>
			<real>1.97</real>
			<real>2.37</real>
			<real>2.71</real>
			<real>3.26</real>
		</array>
	</dict>
	<dict>
		<key>text</key>
		<string>The slide is fun and tall and really fun.</string>
		<key>imageFilename</key>
		<string>CBContentPage4</string>
		<key>audioFilename</key>
		<string>slide</string>
		<key>timeCodes</key>
		<array>
			<real>0</real>
			<real>0.28</real>
			<real>0.86</real>
			<real>1.18</real>
			<real>1.49</real>
			<real>1.77</real>
			<real>2.08</real>
			<real>2.38</real>
			<real>2.9</real>
			<real>3.59</real>
		</array>
	</dict>
	<dict>
		<key>text</key>
		<string>The snake is scary and big and it is sleeping.</string>
		<key>imageFilename</key>
		<string>CBContentPage5</string>
		<key>audioFilename</key>
		<string>snake</string>
		<key>timeCodes</key>
		<array>
			<real>0</real>
			<real>0.33</real>
			<real>0.92</real>
			<real>1.44</real>
			<real>2.4</real>
			<real>2.9</real>
			<real>3.365</real>
			<real>3.9</real>
			<real>4.29</real>
			<real>4.7</real>
			<real>5.3</real>
		</array>
	</dict>
</array>
</plist>
